In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Make a reference to the budget_data.csv file path
budget = "Resources/budget_data.csv"

# Import the books.csv file as a DataFrame
budget_df = pd.read_csv(budget, encoding="UTF-8")

In [22]:
budget_df

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [23]:
print("___________________Finanical Anaylsis___________________")

___________________Finanical Anaylsis___________________

In [30]:
#The total number of months included in the dataset
total_month = budget_df["Date"].count()
print("Total Months:",total_month)

Total Months: 86

In [31]:
#The net total amount of "Profit/Losses" over the entire period
net_total = budget_df["Profit/Losses"].sum()
print("Net Total Profits/Losses: $",net_total)

Net Total Profits/Losses: $ 38382578

In [60]:
#Calculate the changes in "Profit/Losses" over the entire period, then find the average of those changes
budget_df['Change'] = budget_df['Profit/Losses'] - budget_df['Profit/Losses'].shift(1)
avg_change = round(budget_df['Change'].mean(),2)
print('Average Change: $' +str(avg_change))

Average Change: $-2315.12

In [58]:
#The greatest increase in profits (date and amount) over the entire period
highest_profit = budget_df['Profit/Losses'].max()
profit_date = budget_df['Date'].loc[budget_df['Profit/Losses'].idxmax()]
print('Greatest Increase in Profits: '+ profit_date +", $"+str(highest_profit))

Greatest Increase in Profits: Feb-2012, $1170593

In [55]:
#The greatest decrease in losses (date and amount) over the entire period
greatest_loss = budget_df['Profit/Losses'].min()
loss_date = budget_df['Date'].loc[budget_df['Profit/Losses'].idxmin()]
print("Greatest Decrease in Profits: "+loss_date +", $"+str(greatest_loss))

Greatest Decrease in Profits: Sep-2013, $-1196225

In [61]:
# Push the remade DataFrame to a new CSV file

file = open('pybank.txt','a')

file.write('___________________Finanical Anaylsis___________________\n')

file.write(f'Total Months: {total_month}\n')
file.write(f'Net Total Profits/Losses: $ {net_total}\n')
file.write(f'Average  Change: $ {avg_change}\n')
file.write(f'Greatest Increase in Profits: {profit_date}, $ {highest_profit}\n')
file.write(f'Greatest Decrease in Profits: {loss_date}, $ {greatest_loss}\n')
file.close()